/* CSS Page d'acceuil*/
.card-body{
  width: 30%;
  background-color:#353a40;
  margin: 20px;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: black;
}

img{
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

h3{
  color: white;
  font-size: 1.5em;
}

h5{
  color: white;
  font-size: 1em;
}

/* CSS Page produit*/
.card{
 width: 700px;
 background-color: #353a40;
 margin: 20px;
}

.container-page-product{
  display: flex;
  flex-direction: column;
}

.img_product{
  width: 100%;
  object-fit: cover;
}

li{
  list-style: none;
  color: white;
}

.name_product{
  font-size: 2em;
  font-weight: bold;
}

label{
  color: black;
}
